{% extends "layout.html" %}
{% block content %}
<div class="section">
    <div class="overlay">
        <p class="overlay-text">NUESTRO EQUIPO</p>
    </div>
    <img src="../static/assets/about_us/about_us.png" alt="Sobre Nosotros" class="img3">
</div>

<div class="rounded-box">
    <h2>¿QUIÉNES SOMOS?</h2>
    <p>Somos un grupo de estudiantes de la Universidad de Salamanca que hemos desarrollado esta página web, implementando nuestro modelo de negocio del bar de tapas "Olé Gourmet", así como elementos interactivos de la app e información aportada a los usuarios.
    </p>
  </div>


<div class="container1">
    <div class="item">
        <img src="../static/assets/about_us/DIANA.png" alt="Item 1" class="item-img">
        <h3 class="item-text">DIANA GUTIÉRREZ LORENZO</h3>
        <a href="https://www.linkedin.com/in/diana-guti%C3%A9rrez-lorenzo-b220a3223?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" class="item-link">Linked In</a>
    </div>
    <div class="item">
        <img src="../static/assets/about_us/LAURA.png" alt="Item 2" class="item-img">
        <h3 class="item-text">LAURA RODRÍGUEZ MARTÍNEZ</h3>
        <a href="https://www.linkedin.com/in/laura-rodr%C3%ADguez-mart%C3%ADnez-4485b7306?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app " class="item-link">Linked In</a>
    </div>
    <div class="item">
        <img src="../static/assets/about_us/SARA.png" alt="Item 3" class="item-img">
        <h3 class="item-text">SARA SÁNCHEZ MATEOS</h3>
        <a href="https://www.linkedin.com/in/sara-s%C3%A1nchez-mateos-9553b233b?trk=contact-info" class="item-link">Linked In</a>
    </div>
    <div class="item">
        <img src="../static/assets/about_us/ARITZ.png" alt="Item 4" class="item-img">
        <h3 class="item-text">ARITZ PÉREZ PARRA</h3>
        <a href="https://es.linkedin.com/in/aritz-p%C3%A9rez-parra-2b50942b6" class="item-link">Linked In</a>
    </div>
    <div class="item">
        <img src="../static/assets/about_us/ALBERTO.png" alt="Item 5" class="item-img">
        <h3 class="item-text">ALBERTO PRIETO TORAASEN</h3>
        <a href="https://www.linkedin.com/in/alberto-prieto-toraasen-87a788340/" class="item-link">Linked In</a>
    </div>
    <div class="item">
        <img src="../static/assets/about_us/ALVARO.png" alt="Item 6" class="item-img">
        <h3 class="item-text">ÁLVARO RAMOS MARTÍN</h3>
        <a href="https://www.linkedin.com/in/%C3%A1lvaro-ramos-mart%C3%ADn-907868340?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app " class="item-link">Linked In</a>
    </div><div class="item">
        <img src="../static/assets/about_us/MARCOS.png" alt="Item 7" class="item-img">
        <h3 class="item-text">MARCOS RODRÍGUEZ MANZANO</h3>
        <a href="https://www.linkedin.com/in/marcos-rodr%C3%ADguez-manzano-905b66340/" class="item-link">Linked In</a>
    </div>
</div>
{% endblock content %}
